.app {
  height: 100vh;
  display: flex;
  /* justify-content: center; */
  align-items: center;
  text-align: center;
  flex-direction: column;
  width: clamp(300px, 50%, 500px);
  margin-inline: auto;
}

header {
  font-size: 3rem;
  margin-block: 2rem;
}

button {
  padding: 0.5rem 1rem;
  background: transparent;
  border-radius: 0.25rem;
  outline: none;
  border: 2px solid #7fc6b8;
  color: #7fc6b8;
  transition: all 0.2s ease-in-out;
  text-transform: uppercase;
  font-size: 1rem;
}

button:not(:disabled) {
  cursor: pointer;
}

button:disabled {
  opacity: 0.5;
}

button:hover:not(:disabled) {
  color: white;
  background-color: #7fc6b8;
}

.username {
  padding: 1rem;
  margin-bottom: 0.75rem;
  width: 60%;
  outline: #7fc6b8;
  border-color: #7fc6b8;
  font-size: 1rem;
  border-radius: 0.25rem;
}

.spinner {
  animation: rotate 2s linear infinite;
  z-index: 2;
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -25px 0 0 -25px;
  width: 50px;
  height: 50px;
}

.spinner .path {
  stroke: #7fc6b8;
  stroke-linecap: round;
  animation: dash 1.5s ease-in-out infinite;
}

.words-box {
  border: 2px solid #7fc6b8;
  padding: 0.5rem 0.5rem 0.75rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  gap: 0.75rem;
  border-radius: 0.25rem;
}

.words-box .word {
  margin: 1.25rem 0.25rem 0.25rem;
  min-width: 75px;
  max-width: 125px;
  min-height: 50px;
  max-height: 100px;
  user-select: none;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
}

.words-box .word span {
  padding: 0.25rem;
  line-height: 1.2;
  transition: all 0.2s ease-in-out;
}

.words-box:not(.disabled) .word span {
  cursor: pointer;
}

.words-box:not(.disabled) .word span:hover {
  opacity: 0.5;
}

.words-box .word.selected span {
  color: orange;
}

.words-box .word:is(.correct, .uncorrect)::before {
  position: absolute;
  font-weight: bold;
  font-size: 0.85rem;
  top: -1.25rem;
  left: 50%;
  transform: translateX(-50%);
}

.words-box .word.correct::before {
  content: 'Good';
  color: green;
}

.words-box .word.uncorrect::before {
  content: 'Bad';
  color: red;
}

.question {
  margin-bottom: 0.75rem;
}

.finish-game {
  margin-top: 0.75rem;
}

.play-again {
  margin-top: 1rem;
}

.points {
  margin-top: 0.25rem;
  color: #93bfec;
}

@keyframes rotate {
  100% {
    transform: rotate(360deg);
  }
}

@keyframes dash {
  0% {
    stroke-dasharray: 1, 150;
    stroke-dashoffset: 0;
  }
  50% {
    stroke-dasharray: 90, 150;
    stroke-dashoffset: -35;
  }
  100% {
    stroke-dasharray: 90, 150;
    stroke-dashoffset: -124;
  }
}
